<!-- チームメンバー募集一覧ページ -->
<div class="container">
	<div class="row">
		<table class="table">
		<div class="title">
			<h3><%= @prefecture.content %></h3>		
			<h3><%= @sport.sport_genre %></h3>
			<h3>チームメンバー募集一覧</h3>
			<%= link_to "新規チーム作成", new_prefecture_sport_team_path, class: "btn btn-primary team-btn" %>
		</div>
		</table>
		<% @teams.each do |team| %>
		<div class="col-6">

			<div></div>
			<table class="table">
				<%= link_to team_path(team) do %>
				<!-- refileによる画像表示 -->
				<%= attachment_image_tag team, :image, size: "300x300", fallback: "no_image.png", size: "300x300", class: "team_image" %>
				<% end %>
				<tr>
					<td>チーム名</td>
					<td><%= team.team_name %></td>
				</tr>
				<tr>
					<td>活動地域</td>
					<td><%= team.area %></td>
				</tr>
				<tr>
					<td>募集人数</td>
					<td><%= team.applicant %></td>
				</tr>
				<tr>
					<td>活動スタンス</td>
					<td><%= team.stance %></td>
				</tr>
				<tr>
					<td>
						<% if team.users.blank? %>
						<%= link_to "チームを削除", "/teams/#{team.id}", method: :delete, class: "btn btn-danger" %>
						<% end %>
					</td>
				</tr>	
			</table>
		</div>
			<% end %>
			<!-- kaminariによるページネーション	 -->
			<%= paginate @teams %>
	</div>
</div>