<div class="container">
	<div class="row">
		<div class="col-10">
			<h3 class="title"><%= @user.name %>さんへメッセージ作成</h3>
			<table class="table">
				<%= form_for @message, url: "/users/#{params[:user_id]}/messages", method: :post, local: true do |f| %>
				<tr>
					<th><%= f.label :title, "タイトル" %></th>
					<td><%= f.text_field :title, size: "50x10" %></td>
				</tr>
				<tr>
					<th><%= f.label :content, "本文" %></th>
					<td><%= f.text_area :content, size: "50x10" %></td>
				</tr>
			</table>
			<%= f.submit "送信", class: "btn btn-primary" %>
			<% end %>
		</div>
	</div>
</div>