<div class="container">
	<div class="row">
		<div class="col-6">
			<h3 class="title">スポーツジャンル追加</h3>
			<%= form_with model: @sport, url: "/sports", method: :post, local: true do |f| %>
			<%= render 'layouts/error_messages', model: f.object %>
			<table class="table">
				<%= attachment_image_tag @sport, :image, size: "200x200", fallback: "no_image.png" %>
				<tr>
					<td><%= f.attachment_field :image %></td>
				</tr>
				<tr>
					<td><%= f.label :sport_genre, "スポーツ名" %></td>
					<td><%= f.text_field :sport_genre %></td>
				</tr>
			</table>
			<%= f.submit "新規作成", class: "btn btn-primary" %>
			<%= link_to "トップに戻る", root_path, class: "btn btn-primary" %>
			<% end %>
		</div>
	</div>
</div>