<div class="container">
	<div class="row">
		<div class="col-6">
			<% if @user == current_user %>
			<h2 class="user-show-title">マイページ</h2>
			<% else %>
			<h2 class="user-show-title">ユーザー詳細ページ</h2>
			<% end %>
			<table class="table">
				<h3>登録情報</h3>
				<tr>
					<th>ニックネーム</th>
					<td><%= @user.name %></td>
				</tr>
				<tr>
					<th>メールアドレス</th>
					<td><%= @user.email %></td>
				</tr>
				<tr>
					<th>年齢</th>
					<td><%= @user.age %></td>
				</tr>
				<tr>
					<th>性別</th>
					<td><%= @user.sex %></td>
				</tr>
				<tr>
					<th>自己紹介</th>
					<td><%= @user.introduction %></td>
				</tr>
				<tr>
					<th>いいねをもらった数</th>
					<td><%= @likes.count %></td>
				</tr>
			</table>
			<% if @user.id == current_user.id %>
					<%= link_to "編集する", edit_user_path(current_user), class: "btn btn-primary" %>
					<%= link_to "カレンダーを表示する", user_events_path(current_user), class: "btn btn-primary" %>
		</div>
		<div class="row">		
		<div class="col-12">
			<% @team_members.each do |member| %>
			<h3 class="user-show-team">マイチーム：<%= member.team.team_name %></h3>
			<%= link_to "チーム詳細ページ", team_path(member.team.id), class: "btn btn-primary" %>
			<%= link_to "チームを退会する", team_member_path(member.id), method: :delete, data: { confirm: '本当によろしいですか？' }, class: "btn btn-danger" %>
			<% end %>
			<% else %>
			<%= link_to "チームメンバー一覧に戻る", "/team_members/#{@team_member.team.id}", class: "btn btn-primary" %>
			<% end %>
		</div>
	  </div>
	</div>
</div>