<!DOCTYPE html>
<html>
  <head>
    <title>SportsCompanion</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if user_signed_in? %> <!-- ユーザーのログイン状況によりヘッダーを変更 -->
    <%= render "layouts/header_login" %>
    <% else %>
    <%= render "layouts/header_logout" %>
    <% end %>
    <%= yield %>
  </body>
</html>
