

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
<div class="container">
  <div class="row">
    <div class="col">
      <h2 class="sign-up-title">新規会員登録</h2>
      <%= render "users/shared/error_messages", resource: resource %>
      <table class="table table-sign-up">
        <tr>
          <td><%= f.label :name, "ニックネーム" %></td>
          <td><%= f.text_field :name %></td>
        </tr>
        <tr>
         <td><%= f.label :email, "メールアドレス" %></td>
         <td><%= f.email_field :email, autofocus: true, autocomplete: "email" %></td>
         </tr>
         <tr>
          <td><%= f.label :age,"年齢（半角数字）" %></td>
          <td><%= f.text_field :age %>歳</td>
        </tr>
        <tr>
          <td><%= f.label :sex, "性別" %></td>
          <td><%= f.select :sex, User.sexes.keys, include_blank: "--選択してください--" %></td>
        </tr>
        <tr>
          <td><%= f.label :password, "パスワード" %></td>
          <td><%= f.password_field :password, autocomplete: "new-password" %></td>
        </tr>
        <tr>
          <td><%= f.label :password_confirmation, "パスワード（確認用）" %></td>
          <td><%= f.password_field :password_confirmation, autocomplete: "new-password" %></td>
        </tr>
      </table>
        <div class="col"></div>
      <%= f.submit "新規登録", class: "btn btn-success btn-lg btn-sign-up" %>
      <div></div>
      <%= render "devise/shared/links" %>
      <p>既に登録済の方はこちら<%= link_to "ログイン", new_user_session_path %></p>
    </div>
  </div>
</div>
<% end %>



